<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            My First Website!
        </title>
    </head>
    <body>
        <h1>My first heading!! </h1>
        <h2>My first heading!! </h2>
        <h3>My first heading!! </h3>
        <h4>My first heading!! </h4>
        <h5>My first heading!! </h5>
        <h6>My first heading!! </h6>
        <p style="font-size: 24px; color: #72349e">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b><i>Et netus et malesuada fames ac turpis egestas.</i></b> Imperdiet massa tincidunt nunc pulvinar sapien. Euismod in pellentesque massa placerat. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Lacus luctus accumsan tortor posuere ac ut. 
        </p>
        <p>Students in my web development class:</p>
        <ul>
            <li>Litzy</li>
            <li>Jari</li>
            <li>Ty</li>
            <li>Ryan</li>
            <li>Chase</li>
            <li>Jocelyn</li>
            <li>Cameron</li>
            <li>Emily</li>
            <li>Sejal</li>
        </ul>
        <p>My family in age order</p>
        <ol>
            <li>Matt</li>
            <li>Susan</li>
            <li>Ben</li>
            <li>Ms. Ifft</li>
            <li>Erin</li>
            <li>Madison</li>
            <li>Rylee</li>
            <li>Forrest</li>
            <li>Eleanor</li>
        </ol>
        <a href="https://padlet.com/bifft1/resources-for-cp2-web-dev-uuh4oogg5iwoklj4" target="_blank">Computer Programming II Padlet</a>
    </body>
</html>


























<!-- {% extends "base.html" %}
{% block content %}
<div class="alert alert-primary abcd" role="alert">
  {{ encouragement }}
</div>
{% endblock %}
 -->
