/** {
  color: purple;
}*/

/*div {
  color: red;
}*/

/*.alert-text {
  color: red;
}

.severe-alert {
  background-color: black;
}*/

/* use sparingly, if at all!! */
#title {
  background-color: #40945f;
}