#content {
	width: ;
	height: ;
	background-color: ;
	padding-left: ;
	padding-right: ;
	padding-top: ;
	padding-bottom: ;
	border: ;
	margin-left: ;
	margin-right: ;
	margin-top: ;
	margin-bottom: ;
}

.container {
	width: ;
	height: ;
	background-color: ;
}